<div>
  <div class="flex m-6">
    <% @recent_history.each do |tracking_point| %>
      <div
        id="<%= dom_id(tracking_point) %>"
        class="flex flex-col grow place-items-center"
      >
        <div>
          <%= tracking_point.date_time_point.to_date %>
        </div>
        <div>
          <%= render_icon(status_icon(tracking_point)) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
